<div class="container-xxl flex-grow-1 container-p-y">
    <div class="mb-3">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pendaftaran</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pendataan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Penetapan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Penerimaan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Penagihan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pengaturan</a>
          </li>
        </ul>
    </div>
    <div class="card">
        <h5 class="card-header d-flex justify-content-center">Data Wajib Pajak</h5>
        <div class="table-responsive text-nowrap">
            <div style="display:flex; justify-content: flex-end; margin-bottom: 10px; margin-right: 20px;">
                <button class="btn btn-primary">Tambah Data</button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>NPWPD</th>
                        <th>Wajib Pajak</th>
                        <th>Pengelola</th>
                        <th>Kontak</th>
                        <th>Alamat</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    <tr>
                        <td>1</td>
                        <td>P.37957465</td>
                        <td>CV. Bulan Bintang Terang</td>
                        <td>Andi</td>
                        <td>082266453645</td>
                        <td>Jl. Damai No.51</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>P.74635463</td>
                        <td>PT. Maju Jaya</td>
                        <td>Budi</td>
                        <td>081277463546</td>
                        <td>Bumi Pertiwi No.12</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>P.37564536</td>
                        <td>PT. Surya Citra</td>
                        <td>Cantika</td>
                        <td>081355473645</td>
                        <td>Jl. Istimewa Raya No. 45a</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>P.35463524</td>
                        <td>PT. Laut Samudra</td>
                        <td>Sukma</td>
                        <td>085746354635</td>
                        <td>Kota Baru No 22</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>P.37957465</td>
                        <td>PT. Benderaku</td>
                        <td>Gigi</td>
                        <td>085746342956</td>
                        <td>Jl. Angin angin No. 9</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>P.48564537</td>
                        <td>CV. Teknis Jaya</td>
                        <td>Alfonso</td>
                        <td>08152775643</td>
                        <td>Jl. Turi Raya No.283</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>P.37957465</td>
                        <td>CV. Tiga Roda</td>
                        <td>Sudarmadi</td>
                        <td>082354635465</td>
                        <td>Jl. Waru No.415</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>