<div class="container-xxl flex-grow-1 container-p-y">
    <div class="mb-3">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Laporan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Dokumen Masuk</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">AJB</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">TTE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SSPD</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Penolakan</a>
          </li>
        </ul>
    </div>
    <div class="card">
        <h5 class="card-header">Data BPHTB</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>ID Daftar</th>
                        <th>Tanggal</th>
                        <th>Wajib Pajak</th>
                        <th>Alamat</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    <tr>
                        <td>1</td>
                        <td>P.37957465</td>
                        <td>12-10-2022</td>
                        <td>Andi</td>
                        <td>Jl. Damai No.51</td>
                        <td style="color: blue;">Periksa</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>P.32647364</td>
                        <td>14-09-2022</td>
                        <td>Budi</td>
                        <td>Jl. Randu No.51</td>
                        <td style="color: red;">Dalam Proses</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>P.35495647</td>
                        <td>15-11-2022</td>
                        <td>Cantika</td>
                        <td>Jl. Tanjung No.51</td>
                        <td style="color: red;">Dalam Proses</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>P.34635271</td>
                        <td>20-08-2022</td>
                        <td>Doni</td>
                        <td>Jl. Waru No.51</td>
                        <td style="color: blue;">Periksa</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>P.34125364</td>
                        <td>21-12-2022</td>
                        <td>Eka</td>
                        <td>Jl. Kemuning No.51</td>
                        <td style="color: blue;">Periksa</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>P.43254635</td>
                        <td>07-07-2022</td>
                        <td>Fathur</td>
                        <td>Jl. Turi No.51</td>
                        <td style="color: red;">Dalam Proses</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>P.45372635</td>
                        <td>14-10-2022</td>
                        <td>Gina</td>
                        <td>Jl. Semeru No.51</td>
                        <td style="color: blue;">Periksa</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>