
.background{
    object-fit: cover;
    height: 100vh;
    width: 100%;}

.auth-logo{
    margin-bottom: 0 !important;
}

.auth-left{
    padding: 5%;
}

.auth-title{
    color: #25396f;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 30px !important;
}