<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-md-6 pl-0">
            <h3> <b> {{data ? 'Ubah' : ''}} Persentase Pendapatan</b></h3>
        </div>
        <div class="col-md-6 text-right pr-0 d-flex justify-content-end ">
            <span [mat-dialog-close]><i class="fas fa-times"></i></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal form-material">
                <div class="row">
                    <div class="form-group col-12 mb-3">
                        <div class="mb-3">
                            <label class="form-label">Persentase</label>
                            <input type="text" name="persentase" [(ngModel)]="jenisPendapatan.amount"
                                class="form-control" placeholder="Silahkan isi persentase"> 
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <div class="col-sm-12 pl-0 d-flex justify-content-end">
                        <button class="btn btn-success" (click)="submitData()">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
