<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
    id="layout-navbar">
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0  d-xl-none ">
        <a class="nav-item nav-link p-0 me-xl-4" href="javascript:void(0)" (click)="expandMenu()">
            <i class="bx bx-menu bx-sm icon-close-menu"></i>
        </a>
    </div>
    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        <div class="navbar-nav align-items-center">
            <div class="nav-item align-items-center">
              <span class="nav-title">BliTiket Monitoring</span><br>
              <span class="nav-sub-title" *ngIf="tipeUser == '1'">Administrator</span>
              <span class="nav-sub-title" *ngIf="tipeUser == '4' || tipeUser == '6'">Kabupaten {{namaLokasi}}</span>
              <span class="nav-sub-title" *ngIf="tipeUser == '5'">Wisata {{namaWisata}}</span>
            </div>
          </div>
        <ul class="navbar-nav flex-row align-items-center ms-auto">
            <li class="nav-item me-2 me-xl-0">
                <a class="nav-link style-switcher-toggle hide-arrow">
                    <i class='bx bx-sm'></i>
                </a>
            </li>

            <!-- User -->
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a class="nav-link dropdown-toggle hide-arrow user-profile-btn" data-bs-toggle="dropdown">
                    <i class='icon-user bx bx-user icon'></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item">
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <div class="avatar">
                                        <img src="assets/image/default-profile.png" alt
                                            class="w-px-40 h-auto rounded-circle">
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <span class="fw-semibold d-block">
                                        {{email}}
                                    </span>
                                    <small class="text-muted" *ngIf="tipeUser == '1'">Administrator</small>
                                    <small class="text-muted" *ngIf="tipeUser == '4'">{{namaLokasi}}</small>
                                    <small class="text-muted" *ngIf="tipeUser == '5'">{{namaWisata}}</small>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item logout" (click)="logout()">
                            <i class='bx bx-log-in me-2'></i>
                            <span class="align-middle">Log Out</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!--/ User -->
        </ul>
    </div>

    <!-- Search Small Screens -->
    <div class="navbar-search-wrapper search-input-wrapper  d-none">
        <input type="text" class="form-control search-input container-xxl border-0" placeholder="Search..."
            aria-label="Search...">
        <i class="bx bx-x bx-sm search-toggler cursor-pointer"></i>
    </div>
</nav>
<!-- / Navbar -->
<!-- END: Navbar-->